/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";


form {
  margin-bottom: 20px;
}

.todos {
  list-style: none;
  padding: 0;
}

div {
	margin-bottom: 4px;
}

span {
	font-size: 1.05em;
	    &.complete { 
    		text-decoration: line-through; 
    		color: grey;
    }
}

.delete {
	font-size: 1.2em;
	padding: 0 2px 0 2px;
	background-color: #D3D3D3;
}
.delete:hover {
	color:red;
	cursor: pointer;
}


